body{background-color: white; font-family: sans-serif; color: #ffffff;}

/*Header Design-Elemente*/
header{border-bottom: solid 2px darkgray; width:100%; height: 30%; background-color: white; text-align: center; display: flex; align-items: center; justify-content: space-around;  }

#header1{text-align: start; width: 100%; margin-left: 8%; font-size: 25px;}

#header2{justify-content: center; align-items: center; width: 10%; }

h1#default{
  color: black;
  text-shadow: 0 0 5px gray;
  text-align: center;
  margin-right: 30px;


}

a{

  color: #7d93a6;
  text-shadow: 0 0 0px inherit;
}

#login{
  background-color: white;

  border: solid black 2px;
  outline: none;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
  text-align: center;
  border-radius: 15px;
  width: 70%;
  height: 100px;
 }

 img#mannschaft{

  padding-left: 6px;

 }


/*Registerkarten Design-Elemente*/
.tab {
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px;

  }


b{

  font-weight: 900;
  font-size: 15px;
 

}


  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border: 2px black solid;
    border-radius: 15px;
    margin-right: 50px;
    width: 8%;
  }


  /*Banner Design-Elemente*/

  h1#Essenschrift{
    font-size: 40px;
    margin: 0, 0;
    text-align: center;
    align-items: center;
    color: white;
    background-color: #7d93a6;
    border-radius: 18px;
    border: 2px black solid;
    padding: 10px;
    text-shadow: 0 0 5px gray;
     
  }

  #Banner{
      display: flex;
      justify-content: space-around;
      width: 100%;
  
  }

  .Bannerpic{
      border: solid black 2px;
      border-radius: 15px;
  

  }

 

  .tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: white;
    margin-top: 15px ;
  
  }


  /*Startseite Deigns*/

  #Start{
    padding: 6px 12px;
    background-color: white;
    margin-top: 15px ;
 
  }

  iframe{
    align-items: center;
    border: solid 3px black;
   


  }

  #StartBilder{
    height: 700px;
    width: 100%;
    background-image:url("Bilder/vecteezy_delicious-fast-food-burgers-in-vector-illustration_21917252.jpg");
    background-size: 100% 700px;
    background-repeat: no-repeat;
    border: solid 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none ;
    text-shadow: 0 0 5px gray;
    border-radius: 18px;
  }

  #Map{
    height: 700px;
    width: 100%;
    background-color: inherit;
    border: solid 4px black;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    border-collapse: collapse;


  }

  #StartbildSchrift
  {
    border: solid 4px black;
    border-radius: 15px;


  }

  #Kontakt{
    background-color: inherit;
    color: #7d93a6;
    font-size: 20px;

  }

  

  h2#Kontaktzeile{
    align-items: center;
    text-align: start;
    font-size: 50px;
    background-color: inherit;
  }

  
  

  footer{
    border: solid 2px black; 
    width:100%; 
    height: 100px; 
    background-color: #2b2c7c; 
    justify-content: space-around; 
    border-radius: 18px;
    


  }



main{ width: 100%; height: 70%; background-color: #ffffff; margin-top: 5px; color: black; }