

body#login{
    color: black;
    border: none;
    font-family: sans-serif;
    background-color: #7d93a6;
    }


form{
    display: flex;
    margin-top: 200px;
}

.login-container{
  
    padding: 80px;   
    background-color: white; 
    display: flex;
    flex-direction: column;
    width: 40%;
    align-self: center;
   margin-top: 200px;
    border: black solid 2px;
    border-radius: 15px;
    justify-content: center;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    
        
        

}

h1{
text-align: center;
font-size: 2vw;

}

#login{
    margin-top: 0px;
}

input{
    background-color: white;
    align-self: center;
    margin-top: 30px ;
}

label{
    margin: 10px;
    font-size: 1vw;
    align-self: center;

}

button{
    margin-top: 40px;
    width: 20%;
    align-self: center;
    border: black solid 2px;
    border-radius: 15px;
    
}

input[type="text"] {
    background: 0;
    border: 0;
    outline: none;
    width: 80%;
    max-width: 400px;
    font-size: 1em;
    transition: padding 0.3s 0.2s ease;
    border-bottom: solid 2px black ;

  
    &:focus{

    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    background-color: #ffffff;
  }

  &:hover{
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    background-color: #ffffff;
    
  }
}

button:hover{
    background-color: #7d93a6;
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
}


