body{background-color: white;
     font-family: sans-serif;
      color: black;
    }


#header1{text-align: center;
     width: 100%; 
     font-size: 2vw;}

a{

        color: #7d93a6;
        text-shadow: 0 0 0px inherit;
        font-size: 4vw;
}


input[type="checkbox"] {

    -webkit-appearance: none;
  
    appearance: none;
   
    background-color: var(--form-background);
    
    margin: 0;
  
    font: inherit;
    color: black;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid black;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
    margin-left: 40%;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  
    background-color: #7d93a6;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid black;
    outline-offset: max(2px, 0.15em);
  }
  
  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
  
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }

  #orderlist {
    width: 60%;
    margin-right: 200px;
  }
  
  #orderhistory {
    width: 40%;
  }

  th{
    font-size: 1.5vw;
  }

  button{
    margin-right: 4px;
    align-self: center;
  }

  table{
    width:90%; 
    margin: auto
  }

  #settings{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 80%;
  }

  .b{
    background-color: inherit;
    height: 40%;
    border: solid black;
    border-radius: 50px;
    margin-right: 3%;
  }

  .b:hover{
    -ms-transform: scale(0.9); 
    -webkit-transform: scale(0.9); 
    transform: scale(0.9); 
    background-color: #7d93a6;
  }

  .bimg{
    width: 50%;
    height: 20%;
  }

  #goUp{
    width: 50%;
    border: black solid;
    border-radius: 15px;
    align-items: center;
    height: 100%;
    margin-left: 25%;
    margin-top: 10px;
    background-color: inherit;
    
  }

  #goUp:hover{
    -ms-transform: scale(0.9); 
  -webkit-transform: scale(0.9); 
  transform: scale(0.9); 
  background-color: #7d93a6;
  }