
  input[type="radio"] {
   
    -webkit-appearance: none;
   
    appearance: none;
   
    background-color: var(--form-background);
   
    margin: 0;
  
    font: inherit;
    color: black;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid black;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    
    background-color: #7d93a6;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid black;
    outline-offset: max(2px, 0.15em);
  }
  
  input[type="radio"]:disabled {
    --form-control-color: var(--form-control-disabled);
  
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }


  form {
    display: grid;
    place-content: center;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;  
    
  }
  
  .form-control {
    font-family: system-ui, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1em;
    width: 15em;
  }
  
  .form-control + .form-control {
    margin-top: 3em;
  }
  
  .form-control--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }
  
  input[type="checkbox"] {

    -webkit-appearance: none;
  
    appearance: none;
   
    background-color: var(--form-background);
    
    margin: 0;
  
    font: inherit;
    color: black;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid black;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  
    background-color: #7d93a6;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid black;
    outline-offset: max(2px, 0.15em);
  }
  
  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
  
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }

  fieldset{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  legend{
    color: #7d93a6;
    font-weight: bolder;
    font-size: 3vw;
  }

  label{
    font-size: 2vw;
  }

  .warenkorbbutton{
    width: 40%;
    height: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2vw;
    font-weight: bold;
    color: black;
    background-color: inherit;
    margin-left: 25% ;
    border-radius: 15px;
    text-align: center;

  
  }

  .warenkorbbutton:hover{
 
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
  }

  p{
    display: inline;
    font-size: 1vw;
    font-weight: bold;
    margin-left: 5vw;
  }
  
  h2{
    background-color: white;
    font-size: 2vw;
    padding: 10px 10px;
}

h1{
  cursor: pointer;
  transition: 0.3s;
  font-size: 2vw;

}

.warenkorbH1{
  text-align: center;
  padding: 0;
  color: black;
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;

}

#schließen{
  width: 70%;
  height: 50%;

}

#schließen:hover{
  -ms-transform: scale(0.9); 
  -webkit-transform: scale(0.9); 
  transform: scale(0.9); 


}

#warenkorbimg{
  width: 50%;
  height: 50%;


}



.warenkorbH2{
  text-align: start;
  background-color: white;
  color: black;
  border-radius: 20px;
  margin: 5px;
  font-size: 1.5vw;

  margin-top: 5px;

}

#warenkorb{
  
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%; 
  background-color: #E2B849;
  overflow: auto;
  


}

#closeWarenkorb{
  width: 20%;
  background-color: inherit;
  border: none;
  margin-top: 5%;


}

#Warenkorbbezeichnung{
  display: none;
}

#HeadingWarenkorb{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}


.atrikeleinkauf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    width: 100%;
    padding: 0px;
    font-size: 1vw;
    

}

.heading{

padding: 0px;
color: black;
font-size: 1.5vw;
font-weight: bold;

}


#detailsH{
font-size: 1.2vw;
font-weight: bolder;
justify-content: center;
align-items: center;


}



.checkboxen{
  margin: 10px;
  display: flex;
  flex-direction: row;

}
.bestelldiv{
  
  display: flex;
  flex-direction: row;
  width: 100%;
  
}

.entfernen-container{
width: 100%;

}

.zutaten-container{
  display: flex;
  flex-direction: column;
}

.checkboxenDiv{
  box-shadow: 10px 20px 15px silver;
  border-radius: 20px;
  width: 50%;
  margin: 30px;
  margin-top: 50px;
  margin-left: 5%;
  margin-left: 25%;
  height: 100%;
 
 

}


.kaufen{
  background-color: white; 
  border: 2px black solid;
  border-radius: 18px;
  width: 30%;
  min-width: 30px;
  height: 5%;
  font-weight: bold;
  margin-left: 34%;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1vw;
  
}


.kaufen:hover{
 
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 

}

#verweis{
  text-decoration: none;

}

#verweis:hover{
  color: red;
}

output{
  font-size: 1.5vw;
}


.entfernenBild{
  width: 100%;
  height: 30%;
}

.entfernbutton
{
  width: 130%;
  height: auto;
  margin-top: 10px;
  border: solid 3px black;
  border-radius: 10px;
}

.entfernbutton:hover{
  background-color: lightcoral;
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
}

.div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;
  margin-top: 20px;

}


